{% extends "index.html" %}

{% block contenido %}

    <div class="container">
        <h1>Lista de clientes</h1>
        <ul>
          {% for clientes in object_list %}
          <li><p>Cliente ID: {{ clientes.idcliente }}</a></p>
          <p>Nombre: {{ clientes.nombre }}</p>
            <a href="{% url "clientes_edit" clientes.idcliente %}">Editar</a>
            <a href="{% url "clientes_delete" clientes.idcliente%}">Eliminar</a> <br>
          </li>
          {% endfor %}
        </ul>

        <a href="{% url "clientes_new" %}">Ingresar nuevo cliente.</a>
    </div>

{% endblock %}
