{% extends "index.html" %}

{% block title %}
      <title>Nueva</title>
{% endblock title %}

{% block contenido %}

<br>
<h1>Nueva Venta</h1>
<br>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="search">
      <button class="btn btn-primary" type="submit">Buscar Producto</button>
    </form>

  <table class="table table-hover" style="margin-top: 30px">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cod</th>
        <th scope="col">Descrpción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Accion</th>   
      </tr>
    </thead>
    <tbody>
      {% if productos %}
      {% for p in productos %}
      <tr class="table-active">
        <th scope="row">{{ p.nombre }}</th>
        <td>{{ p.codigoprod }}</td>
        <td>{{ p.descripcion }}</td>
        <td><input type="number" class="form-control" id="cantidad" placeholder="0"></td>
        <td><input type="number" class="form-control" id="precio_unit" placeholder="0.00"></td>
        <td><button class="btn btn-primary" type="submit">Agregar Producto</button></td>
      </tr>
      {% endfor %}
      {% else %}
      <h3>No hay registros</h3>
      {% endif %}
    </tbody>
  </table>


  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="search_client">
      <button class="btn btn-primary" type="submit">Buscar Cliente</button>
    </form>



<table class="table table-hover" style="margin-top: 30px">
    <thead>
      <tr>
        <th scope="col">Cod</th>
        <th scope="col">Nombre</th>
        <th scope="col">DUI</th>
        <th scope="col">Accion</th>   
      </tr>
    </thead>
    <tbody>
      {% if cliente %}
      {% for p in cliente %}
      <tr class="table-active">
        <th scope="row">{{ p.codigocli }}</th>
        <td>{{ p.nombre }}</td>
        <td>{{ p.dui }}</td>
        <td><button class="btn btn-primary" type="submit">Agregar Cliente</button></td>
      </tr>
      {% endfor %}
      {% else %}
      <h3>No hay registros</h3>
      {% endif %}
    </tbody>
  </table>

<form method="POST">
  <fieldset class="row">
  <fieldset>
    
    <div class="form-group row">
      <div class="col-sm-5">
        <label for="descripcion">Descripción: </label>
        <input type="text" class="form-control" id="descripcionproducto" placeholder="Descripción">
        <label for="cantidad">Cantidad: </label>
        <input type="text" class="form-control" id="cantidad" placeholder="0">
      </div>
      <div class="col-sm-4">
        <label for="marca">Marca del producto: </label>
        <input type="text" class="form-control" id="marcaproducto" placeholder="Marca">
        <label for="fecha">Fecha: </label>
        <input type="text" class="form-control" name="fecha" id="fecha" placeholder="Fecha">
      </div>
    </div>
  </fieldset> 
</fieldset>

<fieldset>
  <div class="form-group row" style="margin-top: 30px">
      <div class="col-sm-5">
        <label for="total">Total: </label>
        <input type="number" class="form-control" id="total" placeholder="0.00">
      </div>
      <div class="col-sm-4">
        <label for="iva">IVA: </label>
        <input type="number" class="form-control" id="iva" placeholder="0.00">
        <br>
      </div>
    </div>
</fieldset>

<fieldset style="margin-top: 30px">
  <h4>Crédito Fiscal</h4>
  <div class="form-group row" >
      <div class="col-sm-5">
        <label for="subtotal">Sub-Total: </label>
        <input type="text" class="form-control" id="subtotal" placeholder="0.00">
        <label for="totalcredito">Total Crédito Fiscal: </label>
        <input type="text" class="form-control" id="totalcredito" placeholder="0.00">
      </div>
      <div class="col-sm-4">
        <label for="retencion">Retención 1%: </label>
        <input type="text" class="form-control" id="retencion" placeholder="0.00">
        <br>
        <button type="submit" class="btn btn-primary">Procesar Venta</button>
        <br>
      </div>
    </div>
</fieldset>

<fieldset style="margin-top: 30px">
  <h4>Factura</h4>
  <div class="form-group row" >
      <div class="col-sm-5">
        <label for="total">Total: </label>
        <input type="text" class="form-control" id="totalfactura" placeholder="0.00">
      </div>
      <div class="col-sm-4">
        <br>
        <button type="submit" class="btn btn-primary">Procesar Venta</button>
      </div>
    </div>
</fieldset>
</form>

{% endblock contenido %}