{% extends 'templates/index.html' %}

{% block contenido %}

    <div class="container">
        <h1>Lista de proveedores</h1>
        <ul>
          {% for proveedores in object_list %}
          <li><p>Proveedor ID: <a href="{% url "FacturacionInv:proveedores_edit" clientes.id %}">{{ clientes.id }}</a></p>
          <p>Nombre: {{ proveedores.nombre }}</p> <br>
            <a href="{% url "FacturacionInv:proveedores_delete" clientes.id %}">Eliminar</a>
          </li>
          {% endfor %}
        </ul>

        <a href="{% url "FacturacionInv:proveedores_new" %}">Ingresar nuevo cliente.</a>
    </div>

{% endblock %}
